.dot {
	height: 5px;
	width: 5px;
	background-color: #f87171;
	border-radius: 50%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.dot2 {
	height: 5px;
	width: 5px;
	background-color: #7176f8;
	border-radius: 50%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.highlight {
	background: rgba(48, 93, 220, 0.1);
	border-radius: 50%;
	color: royalblue !important;
}

.react-calendar {
	border: none !important;
}

.Calendar :global(.react-calendar) {
	width: 400px !important;
}

.Calendar :global(.react-calendar__tile) {
	padding: 18px !important;
	color: rgb(0, 0, 0) !important;
	background-color: white !important;
}

.Calendar :global(.react-calendar__tile:disabled) {
	background: rgba(75, 112, 215, 0);
}

.Calendar :global(.react-calendar__tile:enabled:hover) {
	background-color: rgba(48, 93, 220, 0.1);
}

.Calendar :global(.react-calendar__navigation__label) {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: black !important;
	background-color: white !important;
}

.Calendar :global(.react-calendar__month-view__weekdays) {
	font-weight: 500 !important;
	margin-bottom: 10px !important;
}

.Calendar :global(.react-calendar__navigation__arrow) {
	background-color: white !important;
}

.CircleBox :global(.react-calendar__tile--active) {
	background: #d5dfff !important;
	color: rgb(29, 39, 233) !important;
	font-size: 12px;
	font-weight: 600 !important;
	border-radius: 50% !important;
}

.CircleBox :global(.react-calendar) {
}

.Now :global(.react-calendar__tile--now) {
	border-radius: 50%;
}
